.card {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.896);
  border-radius: 35px;
  padding: 40px;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1)
}
.card:hover {
  transform: scale(1.05);
}
.main-card {
  position: relative;
  font-weight: 400;
}
.toggle {
  position: absolute;
  top: 15px;
  right: 35px;
  padding: 5px;
  border-radius: 20px;
  background-color: RGB(209, 250, 229);
  font-weight: 400;
  font-size: small;
}

.github-card {
  background-color: black;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.instagram-card {
  background: linear-gradient(45deg, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f8da3e);
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.nav {
  background-color: RGB(237, 233, 233);
  padding: 15px;
  border-radius: 50px;
  color: RGB(100, 116, 139);
}

.nav-list:hover {
  color: black;
  cursor: pointer;
}

.form-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
p {
  font-weight: bold;
  font-size: large;
}
p.about {
  font-weight: 400;
}
.text-s {
  font-size: small;
}
